

#vision-section {
  position: relative;
  top: 2rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  filter: contrast(105%);
  width: 100%;
  align-items: center;
  padding-bottom: 7rem;
  border-radius: 10px;
}

@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  } 100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1000ms;
  animation-fill-mode: forwards;
}

@keyframes slideFadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  } 100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.slideFadeInLeft {
  animation: slideFadeInLeft 500ms;
  animation-fill-mode: forwards;
}

@keyframes slideFadeInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  } 100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.slideFadeInRight {
  animation: slideFadeInRight 500ms;
  animation-fill-mode: forwards;
}


@keyframes slideFadeInUp {
  0% {
    opacity: 0;
    transform: translateY(7rem);
  } 100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.slideFadeInUp {
  animation: slideFadeInUp 500ms;
  animation-fill-mode: forwards;
}


#iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 56.25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#iframe-container iframe {
  position: absolute;
  top: 0;
  width: 68%;
  height: 68%;
  box-shadow: 0px 0px 50px #272727;
  border-radius: 10px;
  border: none;
}

#vision-info {
  width: 100vw;
  height: fit-content;
  position: relative;
  top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15rem;
}

.hola {
  position: absolute;
  top: -8rem;
  width: 50%;
  left: 8rem;
  text-align: left;
  color: #B28852;
  opacity: 0.2;
  font-size: 1.6rem;
  z-index: -1;
  font-family: 'Zeyada', cursive;
}

#vision-info-2 {
  width: 100vw;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#vision-info-2 div svg {
  fill: black;
  height: 2rem;
  margin-bottom: 0;
}

#vision-info-2 div h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}

#vision-info-2 div p {
  margin-top: 0;
  color: black;
}

#vision-info-2 div button {
  border-radius: 3px;
  background-color: #E2E2E2;
  color: black;
}

#vision-info-2 div:first-child button {
  background-color: black;
  color: white;
}

#vision-info-2 div:first-child button a {
  color: green;
}

#vision-info-2 div:first-child {
  margin-right: 14rem;
}

#vision-info-2 div:nth-child(2) {
  margin-right: 14rem;
}

#vision-info-3 {
  position: relative;
  margin-top: 5rem;
  width: 55vw;
}

#vision-info-3 .script-1 {
  font-family: 'Zeyada', cursive;
  font-size: 2rem;
  position: absolute;
  left: -20rem;
  text-align: left;
  top: -3rem;
  color: rgb(178, 136, 82);
  opacity: 0.4;
  z-index: 0;
}

#vision-info-3 .script-2 {
  font-family: 'Zeyada', cursive;
  font-size: 2rem;
  position: absolute;
  right: -20rem;
  color: rgb(178, 136, 82);
  opacity: 0.2;
  text-align: right;
  width: 25rem;
  top: 10rem;
}

#vision-info-3 .script-3 {
  font-family: 'Zeyada', cursive;
  font-size: 1.5rem;
  position: absolute;
  left: -10rem;
  color: rgb(178, 136, 82);
  opacity: 0.2;
}

#vision-info-3 .script-4 {
  font-family: 'Zeyada', cursive;
  font-size: 2rem;
  position: absolute;
  left: -10rem;
  width: 20rem;
  top: 15rem;
  text-align: left;
  color: rgb(178, 136, 82);
  opacity: 0.1;
}

#first-time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

#first-time .first {
  margin-bottom: 0;
  font-size: 1.75rem;
}

.ind-sessions {
  margin-bottom: 0;
  margin-top: 5rem;
  display: none;
}

#vision-info-3-tagline h1 a {
  color: rgb(178, 136, 82);
}

#vision-info-3-tagline h1 {
  position: relative;
  margin-bottom: 0;
  z-index: 2;
}

#vision-info-3-tagline .i-teach {
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

#benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#vision-info-3-tagline .benefit {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 28rem;
}

#vision-info-3-tagline .benefit svg {
  height: 2rem;
  margin-bottom: 0;
  margin-right: 1rem;
  fill: white;
}

#vision-info-3-tagline .benefit h4 {
  text-align: left;
  font-size: 1.2rem;
}

#vision-info #welcome {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: 200;
}

#intake-session {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 0 0rem 1rem 0rem;
  margin-top: 1rem;
}

#intake-session div {
  padding: 0 2rem 0 0rem;
}

#intake-session h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: white;
  background-color: black;
  width: 100%;
  padding: 1rem;
  margin-top: 0;
  border-radius: 7px 7px 0 0;
}

#intake-session button {
  font-size: 1.25rem;
  border-radius: 7px;
}

#intake-session h2 {
  font-size: 2.5rem;
  margin: 0.5rem;
  color: black;
}

#intake-session p {
  font-size: 1.3rem;
  color: black;
  margin-bottom: 0;
}

#group-pack {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}

#packages {
  display: none;
  justify-content: space-between;
  align-items: start;
  position: relative;
  top: 3rem;
}

.package {
  background-color: white;
  color: black;
  width: 20rem;
  padding-bottom: 1.5rem;
  border-radius: 7.5px;
}

.package button {
  width: 70%;
  margin-top: 1rem;
  border-radius: 7px;
  background-color: rgb(232, 232, 232);
  color: black;
}

.package:nth-child(2) button {
  background-color: black;
  color: white;
}

.package:nth-child(3) button {
  background-color: black;
  color: white;
}

.package:first-child {
  margin-right: 2rem;
}

.package:nth-child(2) {
  margin-right: 2rem;
}

.package-2 {
  background-color: white;
  color: black;
  width: 20rem;
  padding-bottom: 1.5rem;
  border-radius: 7.5px;
}

.package-2 .package-pricing {
  background-color: black;
  padding: 1.5rem;
  color: white;
  margin-top: 0;
  border-radius: 7px 7px 0 0;
}

.package-2 button {
  width: 70%;
  margin-top: 1rem;
  border-radius: 7px;
  background-color: black;
  color: white;
}

.package-2 h2 {
  margin-bottom: 0;
  margin-top: 0;
}

#home-intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-intro-desc {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#mrbanks {
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 3rem;
}

#aboutText {
  text-align: left;
  position: relative;
  width: 75%;
}

#home-convert {
  background-color: white;
  color: black;
  margin-bottom: 10rem;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  border-radius: 7px;
}

#home-convert svg {
  height: 1.5rem;
  margin-left: 1rem;
}

#conv-btns {
  margin-top: 2rem;
  font-size: 1.25rem;
  width: fit-content;
}

#conv-btns .booking {
  margin-right: 1rem;
  background-color: #B28852;
  border-radius: 3px;
  pointer-events: all;
}

#conv-btns a button {
  background-color: white;
  color: black;
  border-radius: 3px;
}

#newPath {
  -webkit-transition: all 650ms ease-in-out;
  -moz-transition: all 650ms  ease-in-out;
  -ms-transition: all 650ms  ease-in-out;
  -o-transition: all 650ms  ease-in-out;
  transition: all 650ms  ease-in-out;
}

.vision-box3:hover #newPath {
  color: orange;
}

#theFuture {
  -webkit-transition: all 650ms ease-in-out;
  -moz-transition: all 650ms  ease-in-out;
  -ms-transition: all 650ms  ease-in-out;
  -o-transition: all 650ms  ease-in-out;
  transition: all 650ms  ease-in-out;
}

.vision-box2:hover #theFuture {
  color: #236db7;
}

#slidingDivs {
  height: fit-content;
  width: 100vw;
}

#slidingDivs .slide1 {
  background-color: white;
  height: 20rem;
  z-index: 3;
  position: relative;
  background: url('../assets/Ionna.jpg');
  background-position: 75% 25%;
  object-fit: cover;
}

#slidingDivs .slide1 h2 {
  color: white;
  position: absolute;
  bottom: -3rem;
  left: 8rem;
  font-size: 5rem;
}

#slidingDivs .slide2 {
  background-color: white;
  height: 20rem;
  z-index: 3;
  position: relative;
  background: url('../assets/Ionna.jpg');
  background-position: 75% 35%;
  object-fit: fill;
  width: 100%;
  margin-top: 0rem;
}

#slidingDivs .slide2 h2 {
  color: white;
  position: absolute;
  bottom: 8rem;
  right: 8rem;
  font-size: 5rem;
  font-weight: 300;
}

#seven-auto {
  height: 30rem;
  background-color: white;
  width: 50vw;
  top: 5rem;
  position: relative;
  object-fit: cover;
} 

#seven-auto h2 {
  color: white;
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  font-size: 2.5rem;
}

#connect {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#connect p {
  font-size: 2.1rem;
  margin-right: 2rem;
  color: black;
  font-weight: 600;
}

#connect svg {
  fill: black;
  height: 2.5rem;
  margin: 0 0.5rem;
  pointer-events: all;
  cursor: pointer;
}

#connect svg:hover {
  fill: gray;
}

.scroller {
  margin-top: 9rem;
}

.scroller img {
  height: 5rem;
  margin: 0 2rem;
}

.brands-section {
  position: relative;
  left: 60rem;
}

.brands[data-animated="true"] {
  overflow: visible;

}

.brands[data-animated=true] .scroller {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
  var(--_animation-direction, forwards) linear infinite;
}

.brands[data-direction="right"] {
  --_animation-direction: reverse;
}

.brands[data-direction="left"] {
  --_animation-direction: forwards;
}

.brands[data-speed="fast"] {
  --_animation-duration: 90s;
}

.brands[data-speed="slow"] {
  --_animation-duration: 90s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50%));
  }
}

#services-rundown {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#services-rundown div h4 {
  color: black;
  font-size: 1.3rem;
  margin-top: 0;
}

#vision-info h1 {
  text-align: left;
  margin-bottom: 0.5rem;
}

#services-rundown div svg {
  fill: #1C1C1C;
  height: 2rem;
  margin-bottom: 0;
}

.person-title {
  display: flex;
  flex-direction: column;
}

.person-title p {
  margin: 0;
}

.matt-title {
  font-size: 1rem;
}

.package .package-p {
  font-size: 1.1rem;
}

.package h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.package-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}

.package-details p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.package-details p a {
  color: black;
  margin-left: 1rem;
}

.package-details p svg {
  fill: green;
  height: 1.5rem;
}

.discount h3 {
  margin-right: 0.5rem;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}

.discount a:first-child {
  text-decoration: line-through;
  color: red;
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.discount a:nth-child(2) {
  color: #00BF37;
  font-size: 1.25rem;
}

.package .package-pricing {
  background-color: black;
  padding: 1.5rem;
  color: white;
  margin-top: 0;
  border-radius: 7px 7px 0 0;
}

@media screen and (max-width: 1590px) {
  #services-rundown {
    width: 65%;
  }
}

@media screen and (max-width: 1135px) {
  #packages {
    flex-wrap: wrap;
    justify-content: center;
  }
  .package:first-child {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .package:nth-child(2) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  #vision-info-2 div:first-child {
    margin-right: 7rem;
  }

  #vision-info-2 div:nth-child(2) {
    margin-right: 7rem;
  }
}

@media screen and (max-width: 1024px) {

  .hola {
    left: 4rem;
    opacity: 0.1;
    width: 82%;
  }

  #slidingDivs .slide1 {
    display: flex;
    justify-content: center;
  }
  #slidingDivs .slide1 h2 {
    left: 6rem;
    font-size: 4.5rem;
  }
  #slidingDivs .slide2 h2 {
    font-size: 4.5rem;
    width: 100%;
    right: 0rem;
  }

  #slidingDivs .slide2 {
    display: flex;
    justify-content: center;
  }
  #vision-info h5 {
    margin: 2rem 5rem;
    margin-bottom: 2rem;
  }
  #iframe-container iframe {
    width: 90%;
    height: 69%;
  }
}

@media screen and (max-width: 912px) {
  #slidingDivs .slide1 h2 {
    left: 5rem;
    font-size: 3.5rem;
    bottom: 0rem;
    top: 11rem;
  }
  #slidingDivs .slide2 h2 {
    font-size: 3.5rem;
    width: 100%;
    right: -1rem;
    bottom: 11.5rem;
  }
  #iframe-container iframe {
    height: 69%;
  }
}

@media screen and (max-width: 820px) {
  
    #vision-info-2 div:first-child {
      margin-right: 0rem;
      margin-bottom: 3rem;
    }
  
    #vision-info-2 div:nth-child(2) {
      margin-right: 0rem;
      margin-bottom: 3rem;
    }

    #vision-info-2 {
      flex-direction: column;
    }
  
  #slidingDivs .slide1 h2 {
    left: 5rem;
    font-size: 3.5rem;
    bottom: 0rem;
    top: 11rem;
  }
  #slidingDivs .slide2 h2 {
    font-size: 3.5rem;
    width: 100%;
    right: -1rem;
    bottom: 11.5rem;
  }
}

@media screen and (max-width: 768px) {
  #mrbanks {
    height: 7rem;
    width: 7rem;
  }
  #vision-info h1 {
    margin-top: 0;
  }
  #home-intro {
    align-items: flex-start;
  }
  #vision-info {
    top: 5rem;
  }
  #slidingDivs .slide1 h2 {
    left: 4rem;
    font-size: 3.5rem;
    bottom: 0rem;
    top: 11rem;
  }
  #slidingDivs .slide2 h2 {
    font-size: 3.5rem;
    width: 100%;
    right: -0.5rem;
    bottom: 11.5rem;
  }
  #vision-info h1 {
    font-size: 2.5rem;
  }
  #vision-info #welcome {
    font-size: 1.5rem;
  }
  #services-rundown {
    width: 90%;
  }
}

@media screen and (max-width: 657px) {
  #conv-btns {
    width: 80vw;
  }
  #services-rundown {
    flex-direction: column;
  }

  #services-rundown div:nth-child(2) {
    margin-top: 1rem;
  }

  #services-rundown div:nth-child(3) {
    margin-top: 1rem;
  }

  #home-convert {
    margin-top: 8rem;
    margin-bottom: 5rem;
  }
  #vision-info-3 {
    width: 80vw;
  }
}

@media screen and (max-width: 487px) {
  #vision-info-3-tagline .benefit {
    width: unset;
  }
  #home-intro {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 3rem;
    margin-right: 2rem;
  }
  #vision-info h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 450px) {
  #intake-session p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #vision-section {
    padding-bottom: 3rem;
  }
  #vision-info {
    top: 10rem;
  }

  .hola {
    top: -5rem;
    left: 3rem;
    width: 70%;
    opacity: 0.1;
  }

  #slidingDivs .slide1 {
    height: 9rem;
  }

  #slidingDivs .slide1 h2 {
    font-size: 2rem;
    bottom: 0rem;
    left: 0;
    width: 100vw;
  }

  #slidingDivs .slide2 {
    height: 9rem;
  }

  #slidingDivs .slide2 h2 {
    bottom: 3rem;
    right: 0.5rem;
    font-size: 2rem;
  }

  #connect p {
    font-size: 1.5rem;
  }

  #connect svg {
    height: 1.5rem;
  }
  #vision-info h5 {
    margin: 2rem 1rem;
  }
  #vision-info h5 {
    font-size: 1.4rem;
  }
  #iframe-container iframe {
    height: 69%;
  }
  }

  @media screen and (max-width: 430px) {
    #slidingDivs .slide1 h2 {
     position: absolute;
     top: 3.5rem;
    }
    #slidingDivs .slide2 h2 {
      right: 0rem;
    }
    .scroller img {
      height: 3rem;
      margin: 0 1rem;
    }
  }

  @media screen and (max-width: 376px) {
    #vision-info h1 {
      font-size: 3.5rem;
    }
    #home-intro {
      margin-left: 3rem;
    }
    #vision-info #welcome {
      font-size: 1.2rem;
    }
    #aboutText {
      width: 100%;
    }
    #conv-btns {
      width: 90vw;
    }
  }





